<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<head th:replace="template :: headHTML" th:with="siteTitle='Add post'"/>
<body style="background-color: #eeeeee;">
<div th:replace="template :: headBody"/>
<div style="width: 100%;">
    <div style="margin: 0 auto; width: 400px;">
        <th:block th:each="entry, iterStat : ${blogPage.content}">
            <div th:class="${iterStat.index % 2 == 0 ? 'panel panel-info' : 'panel panel-success'}">
                <div class="panel-heading" style="text-align: center;" th:text="|${entry.title} (${entry.entryId})|"/>
                <div class="panel-body" th:text="${entry.text}"/>
                <div class="panel-footer" style="text-align: right;">
                    <a th:href="|@{/viewPost}/${entry.entryId}|" style="text-decoration: none;">View this post</a>
                </div>
            </div>
        </th:block>
    </div>
</div>
<div th:replace="template :: footer"/>
</body>

</html>